POSTGRES_DB=sistema_escolar
POSTGRES_USER=escuela
POSTGRES_PASSWORD=genera_una_contrasena_segura_para_postgres
SPRING_PROFILES_ACTIVE=prod
APP_PORT=8080
ADMIN_BOOTSTRAP_USERNAME=admin
ADMIN_BOOTSTRAP_PASSWORD=genera_una_contrasena_segura_para_el_administrador
